body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #CACACA;
}
.banner-column{
    background-color: #4d4d4d;
}
.navbar-container{
    background-color: rgb(39, 38, 39);
}
.about-container{
    background-color: rgb(238, 1, 206);
}